* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    padding: 65px 91px;
}

.week {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    margin: 0 auto;
}

.dayWeek {
    margin-right: 15px;
    width: 100%;
}

.dayWeek:last-child {
    margin-right: 0;
}

.textDayWeek {
    text-align: center;
    font-family: Maison Neue; 
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    width: 100%;
    background-color: #fff;
    padding-top: 20px;
    height: 96px;
}

.status {
    background-color: #E5E5E5;
    width: 100%;
    display: flex;
    border-radius:0px 0px 8px 8px;
    border-style: solid;
    border-color: #EAEAEA;
    height: 132px;
    flex-direction: column;
    padding-left: 24px;
    margin-top: 10px;
    
}

 .title {
    display: inline-block;
    display: flex;
    align-items: center;
    padding-top: 10px;
    font-size: 16px;
 }



 .titleStatus {
     border-radius: 10px;
     background-color: #A99FF1;
     color: #fff;
     padding: 4px 4px 4px 4px;
     font-size: 12px;
 }

 .need {
    border-radius: 10px;
    background-color: #81C7EE;
    color: #fff;
    padding: 4px 4px 4px 4px;
    font-size: 12px;
 }

 .progress {
    border-radius: 10px;
    background-color: #FFB891;
    color: #fff;
    padding: 4px 4px 4px 4px;
    font-size: 12px;
 }
 

 .start {
    border-radius: 10px;
    background-color: #FF8EBF;
    color: #fff;
    padding: 4px 4px 4px 4px;
    font-size: 12px;
 }
 

 .status_monday {
    border-radius: 10px;
    background-color: #000000;
    color: #fff;
    padding: 4px 4px 4px 4px;  
    font-size: 12px;
 }
 

 .body {
     font-size: 12px;
     padding-top: 20px;
 }